<!DOCTYPE html>
<html lang="es">
<head>
<title>Worzi</title>
<link rel="stylesheet" href="/styles.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="Div1">
	<h1>Worzi</h1>
</div>
<ul>
  <li><a class="Activa" href="#Inicio">Inicio</a></li>
  <li><a class="Activa" href="/ayuda">FAQ</a></li>
</ul>

  


<div class="wrapper">

	<div class="contenido">
		<section>
		<p style="text-align: center;"><strong>Worzi</strong></p>
<p style="text-align: center;"><em>Haz que tu tiempo cuente</em></p>
<ul>
<p style="color:white">Qu&eacute; es <em>Worzi</em>?</p>
</ul>
<p style="text-align: left;"><em>Worzi</em> es una aplicaci&oacute;n que permite la gesti&oacute;n de tiempo y tareas a las personas que m&aacute;s lo necesiten.</p>
<ul>
<p style="color:white">C&oacute;mo usar <em>Worzi</em>?</p>
</ul>
<p><em>Worzi</em> es una herramienta alternativa a otras existentes en la web. Su uso es muy senillo, basta con crearse una cuenta o iniciar sesi&oacute;n con una existente para poder disfrutar de todas sus funcionalidades de manera gratuita y segura.</p>
<ul>
<p style="color:white">Por qu&eacute; <em>Worzi</em>?</p>
</ul>
<p><em>Worzi</em> es una opci&oacute;n ideal para aquellas personas que requieren algo f&aacute;cil, intuitivo y simple de usar.</p>
<p><strong>&nbsp;</strong></p>
    	</section>
		<a href="/"><button>Volver</button></a>
	</div>

</div>
	
	

		
</body>
</html>