{{> cabecera}}


<form action="/modTablero" method="post">	
<p><label for="tipoAct"><b>Cambiar nombre del tablero:</b></label></p>
	<input type='text' name='nombre'>
	<input type='submit' value='ModTablero'>



<form action="/modLista" method="post">	
	<p><label for="tipoAct"><b>Elegir lista a modificar:</b></label></p>
			
	<select id="tipoAct" name="listListas">
		{{#tablero.listas}}
  			<option value="{{nombre}}">{{nombre}}</option>
  		{{/tablero.listas}}
	</select>
			
	<p>Escribe los datos modificados de la lista:</p>
	<h1><p>Nombre:</p></h1>
	<input type='text' name='nombre'>
	
	<input type='submit' value='Modificar'>
</form>

</body>
