<!DOCTYPE html>
<html lang="es">
<head>
<title>Worzi</title>
<link rel="stylesheet" href="/styles.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
			<style>
				body {
					background-image: url('/fondo.png');
					background-repeat: no-repeat;
					background-size: cover;
					}
			</style>
</head>
<body>

<div class="Div1">
	<h1>Worzi</h1>
</div>
<ul>
  <li><a class="Activa" href="#Inicio">Inicio</a></li>
  <li><a href="/ayuda">FAQ</a></li>
</ul>

  


<div class="wrapper">

	<div class="contenido">
		<section>
		<p><a href="/registrarse"><button class="button botonMENU">REGISTRARSE</button></a></p>
    	</section>
    	<section>
		<p><a href="/iniciarSesion"><button class="button botonMENU">INICIAR SESION</button></a></p>
    	</section>
		
	</div>

</div>
	
	

		
</body>
</html>